<!DOCTYPE html>
<html>
<head>
  <title></title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/app.css">
  
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard"><img id ="logo" src="pastiche2.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <a href="/create">Create Post</a>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <br>
      <h1 class="page-header">Feed</h1>
      <div class="content">
      </div>
      </div>
    </div>
  </div>
</div>


</body>
<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
<script type="text/javascript">

var currentURL = window.location.origin;
      
      $.post(currentURL + "/api/posts",
      function(data){
        console.log(data);
       for (var i = data.find.fulfillmentValue.length - 1; i >= 0; i--) {
          $('.content').append('<h3>'+data.find.fulfillmentValue[i].username+'</h3>')
          $('.content').append('<p>'+data.find.fulfillmentValue[i].createdAt)
          $('.content').append('<img src="'+data.find.fulfillmentValue[i].url+'"><br>')



        }
      });

</script>